# correlation coefficient

In [21]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

data_path = './data/house_train.csv'
df_train = pd.read_csv(data_path)
display(df_train)

,index,主要建材,主要用途,交易年月日,交易標的,交易筆棟數,備註,土地區段位置/建物區段門牌,土地移轉總面積(平方公尺),建物型態,...,num_of_bus_stations_in_100m,income_avg,income_var,location_type,low_use_electricity,nearest_tarin_station,nearest_tarin_station_distance,lat,lng,單價(元/平方公尺)
0,0,NaN,NaN,2016-12-06 00:00:00,土地,土地7建物0車位0,NaN,溪洲段二小段211~240地號,98.57,其他,...,0.0,NaN,NaN,GEOMETRIC_CENTER,NaN,小碧潭站,748.079130,24.965286,121.530247,60870.0
1,1,鋼筋混凝土造,NaN,2015-12-31 00:00:00,房地(土地+建物),土地3建物1車位0,親友、員工或其他特殊關係間之交易。,臺北市中正區三元街172巷1弄1~30號,40.25,公寓(5樓含以下無電梯),...,5.0,1105.0,240.68,ROOFTOP,8.57%,小南門站,897.593403,25.027474,121.511319,117550.0
2,2,鋼骨鋼筋混凝土造,住家用,2015-09-11 00:00:00,房地(土地+建物)+車位,土地1建物1車位4,NaN,臺北市南港區經貿二路235巷1~30號,112.21,住宅大樓(11層含以上有電梯),...,4.0,1423.0,174.00,RANGE_INTERPOLATED,16.59%,南港軟體園區站,104.595160,25.060303,121.614971,231650.0
3,3,加強磚造,住家用,2015-11-15 00:00:00,房地(土地+建物),土地1建物1車位0,NaN,臺北市文山區景興路108巷1~30號,33.50,公寓(5樓含以下無電梯),...,2.0,1104.0,124.78,ROOFTOP,4.48%,景美站,358.446943,24.993959,121.544340,127419.0
4,4,鋼筋混凝土造,商業用,2017-07-31 00:00:00,房地(土地+建物),土地1建物1車位0,NaN,臺北市中山區中山北路二段93巷1~30號,7.75,住宅大樓(11層含以上有電梯),...,0.0,998.0,290.07,ROOFTOP,10.96%,雙連站,320.019329,25.059420,121.523301,272743.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69165,69165,鋼筋混凝土造,見其他登記事項,2017-09-30 00:00:00,房地(土地+建物)+車位,土地1建物1車位1,NaN,臺北市文山區下崙路11巷1~30號,33.01,華廈(10層含以下有電梯),...,2.0,1046.0,122.75,ROOFTOP,5.66%,萬芳醫院站,1463.742646,24.986362,121.560260,140892.0
69166,69166,NaN,NaN,2015-12-30 00:00:00,土地,土地1建物0車位0,向政府機關承購之案件。,天玉段二小段391~420地號,50.79,其他,...,1.0,2194.0,471.48,ROOFTOP,9.56%,石牌站,1812.807252,25.122920,121.530986,15810.0
69167,69167,鋼筋混凝土造,住家用,2017-08-20 00:00:00,房地(土地+建物),土地1建物1車位0,含增建或未登記建物。,臺北市中山區伊通街121~150號,6.09,套房(1房1廳1衛),...,2.0,1085.0,140.60,ROOFTOP,6.66%,松江南京站,372.742705,25.053933,121.534919,238095.0
69168,69168,鋼筋混凝土造,住家用,2017-11-20 00:00:00,房地(土地+建物),土地3建物1車位0,含增建或未登記建物。,臺北市中山區錦西街1~30號,22.63,華廈(10層含以下有電梯),...,2.0,1190.0,340.87,ROOFTOP,7.80%,雙連站,336.792557,25.060371,121.522537,189006.0
69169,69169,見其他登記事項,住家用,2015-11-24 00:00:00,房地(土地+建物)+車位,土地1建物1車位2,NaN,臺北市信義區松平路61~90號,111.16,住宅大樓(11層含以上有電梯),...,2.0,2856.0,600.78,RANGE_INTERPOLATED,4.37%,台北101/世貿中心站,353.630856,25.030504,121.565277,355957.0

In [22]:
corr = df_train.corr()
display(corr)

,index,土地移轉總面積(平方公尺),建物現況格局-廳,建物現況格局-房,建物現況格局-衛,建物移轉總面積(平方公尺),建築完成年月,總價(元),車位移轉總面積(平方公尺),車位總價(元),非都市土地使用編定,num_of_bus_stations_in_100m,income_avg,income_var,nearest_tarin_station_distance,lat,lng,單價(元/平方公尺)
index,1.000000,-0.004945,0.000101,-0.000978,0.002216,0.002859,0.003940,0.004866,-0.001630,-0.007345,NaN,-0.000089,0.003681,-0.003212,-0.002276,-0.001817,0.002900,-0.004741
土地移轉總面積(平方公尺),-0.004945,1.000000,-0.056580,-0.031881,-0.027385,0.105110,0.002621,0.190845,0.039880,0.007993,NaN,0.005781,0.014353,0.009091,0.085005,0.025124,0.028495,-0.012394
建物現況格局-廳,0.000101,-0.056580,1.000000,0.698993,0.591014,0.061095,-0.042990,0.002340,0.006284,0.004533,NaN,-0.153447,0.045763,0.053235,0.096270,0.021385,0.024115,-0.040925
建物現況格局-房,-0.000978,-0.031881,0.698993,1.000000,0.817027,0.120344,-0.108104,0.049095,0.017413,0.012135,NaN,-0.129628,0.036889,0.034229,0.093402,0.020057,0.024277,-0.041470
建物現況格局-衛,0.002216,-0.027385,0.591014,0.817027,1.000000,0.134896,-0.029031,0.071695,0.030786,0.052290,NaN,-0.104529,0.058642,0.050362,0.060901,0.028135,0.011688,-0.014518
建物移轉總面積(平方公尺),0.002859,0.105110,0.061095,0.120344,0.134896,1.000000,0.083857,0.754600,0.475940,0.206553,NaN,-0.027153,0.037657,0.018920,0.002952,0.027129,0.029006,0.008276
建築完成年月,0.003940,0.002621,-0.042990,-0.108104,-0.029031,0.083857,1.000000,0.071047,0.181781,0.285623,NaN,0.038607,0.051011,0.059669,-0.032594,-0.031592,0.084880,0.166985
總價(元),0.004866,0.190845,0.002340,0.049095,0.071695,0.754600,0.071047,1.000000,0.239805,0.141369,NaN,-0.008596,0.045929,0.017744,-0.013750,0.009549,0.024689,0.078931
車位移轉總面積(平方公尺),-0.001630,0.039880,0.006284,0.017413,0.030786,0.475940,0.181781,0.239805,1.000000,0.361246,NaN,-0.011696,0.027418,0.026047,0.011554,0.035387,0.027491,0.017193
車位總價(元),-0.007345,0.007993,0.004533,0.012135,0.052290,0.206553,0.285623,0.141369,0.361246,1.000000,NaN,-0.001292,0.058638,0.071339,0.001063,0.049403,0.017968,0.062880
非都市土地使用編定,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
num_of_bus_stations_in_100m,-0.000089,0.005781,-0.153447,-0.129628,-0.104529,-0.027153,0.038607,-0.008596,-0.011696,-0.001292,NaN,1.000000,-0.090038,-0.042573,-0.099032,-0.060185,-0.041753,0.013423
income_avg,0.003681,0.014353,0.045763,0.036889,0.058642,0.037657,0.051011,0.045929,0.027418,0.058638,NaN,-0.090038,1.000000,0.617349,0.013722,0.016012,0.144833,0.075533
income_var,-0.003212,0.009091,0.053235,0.034229,0.050362,0.018920,0.059669,0.017744,0.026047,0.071339,NaN,-0.042573,0.617349,1.000000,-0.011905,0.142873,-0.143968,0.033964
nearest_tarin_station_distance,-0.002276,0.085005,0.096270,0.093402,0.060901,0.002952,-0.032594,-0.013750,0.011554,0.001063,NaN,-0.099032,0.013722,-0.011905,1.000000,0.110899,0.032151,-0.062551
lat,-0.001817,0.025124,0.021385,0.020057,0.028135,0.027129,-0.031592,0.009549,0.035387,0.049403,NaN,-0.060185,0.016012,0.142873,0.110899,1.000000,-0.260409,-0.034261
lng,0.002900,0.028495,0.024115,0.024277,0.011688,0.029006,0.084880,0.024689,0.027491,0.017968,NaN,-0.041753,0.144833,-0.143968,0.032151,-0.260409,1.000000,0.020975
單價(元/平方公尺),-0.004741,-0.012394,-0.040925,-0.041470,-0.014518,0.008276,0.166985,0.078931,0.017193,0.062880,NaN,0.013423,0.075533,0.033964,-0.062551,-0.034261,0.020975,1.000000

In [23]:
corr_drop = corr.iloc[-1,:].drop(['index'])
corr_drop[(corr_drop>0.03) | (corr_drop<-0.03)].index

Index(['建物現況格局-廳', '建物現況格局-房', '建築完成年月', '總價(元)', '車位總價(元)', 'income_avg',
       'income_var', 'nearest_tarin_station_distance', 'lat', '單價(元/平方公尺)'],
      dtype='object')

# Label encoding & One hot encoding

In [24]:
# 記得刪除 單價
if '單價(元/平方公尺)' in df_train:
    df_train = df_train.drop(['單價(元/平方公尺)'] , axis=1)


#只取 int64, float64 兩種數值型欄位, 存於 num_features 中, 其他類別存於notnum_features
num_features = []
notnum_features = []
for dtype, feature in zip(df_train.dtypes, df_train.columns):
    if dtype == 'float64' or dtype == 'int64':
        num_features.append(feature)
    else:
        notnum_features.append(feature)

print(f'lehgth of all featrues : {len(df_train.columns)}\n')
print(f'length of Numeric Features : {len(num_features)}\n Numeric Features : {num_features}\n')
print(f'length of Not Numeric Features : {len(notnum_features)}\n Not Numeric Features : {notnum_features}')

# 削減文字型欄位, 只剩數值型欄位
df_train_num = df_train[num_features]
df_train_num.head()

lehgth of all featrues : 37

length of Numeric Features : 17
 Numeric Features : ['index', '土地移轉總面積(平方公尺)', '建物現況格局-廳', '建物現況格局-房', '建物現況格局-衛', '建物移轉總面積(平方公尺)', '建築完成年月', '總價(元)', '車位移轉總面積(平方公尺)', '車位總價(元)', '非都市土地使用編定', 'num_of_bus_stations_in_100m', 'income_avg', 'income_var', 'nearest_tarin_station_distance', 'lat', 'lng']

length of Not Numeric Features : 20
 Not Numeric Features : ['主要建材', '主要用途', '交易年月日', '交易標的', '交易筆棟數', '備註', '土地區段位置/建物區段門牌', '建物型態', '建物現況格局-隔間', '有無管理組織', '移轉層次', '編號', '總樓層數', '車位類別', '都市土地使用分區', '鄉鎮市區', '非都市土地使用分區', 'location_type', 'low_use_electricity', 'nearest_tarin_station']

,index,土地移轉總面積(平方公尺),建物現況格局-廳,建物現況格局-房,建物現況格局-衛,建物移轉總面積(平方公尺),建築完成年月,總價(元),車位移轉總面積(平方公尺),車位總價(元),非都市土地使用編定,num_of_bus_stations_in_100m,income_avg,income_var,nearest_tarin_station_distance,lat,lng
0,0,98.57,0,0,0,0.00,NaN,6000000,0.00,0,NaN,0.0,NaN,NaN,748.079130,24.965286,121.530247
1,1,40.25,2,1,1,85.07,NaN,10000000,0.00,0,NaN,5.0,1105.0,240.68,897.593403,25.027474,121.511319
2,2,112.21,2,4,5,674.08,1031204.0,156150908,110.28,0,NaN,4.0,1423.0,174.00,104.595160,25.060303,121.614971
3,3,33.50,2,3,2,105.95,571130.0,13500000,0.00,0,NaN,2.0,1104.0,124.78,358.446943,24.993959,121.544340
4,4,7.75,2,2,1,56.83,940803.0,15500000,0.00,0,NaN,0.0,998.0,290.07,320.019329,25.059420,121.523301

In [25]:
from sklearn.preprocessing import LabelEncoder
df_train = df_train.fillna('None') # 要先去除遺失值
df_train_le = pd.DataFrame()
for c in notnum_features:
    df_train_le[c] = LabelEncoder().fit_transform(df_train[c])
df_train_le.head()

,主要建材,主要用途,交易年月日,交易標的,交易筆棟數,備註,土地區段位置/建物區段門牌,建物型態,建物現況格局-隔間,有無管理組織,移轉層次,編號,總樓層數,車位類別,都市土地使用分區,鄉鎮市區,非都市土地使用分區,location_type,low_use_electricity,nearest_tarin_station
0,0,0,1928,0,320,888,1672,2,0,1,0,33482,0,0,2,6,0,1,348,41
1,13,0,1592,2,247,4903,3306,1,0,1,1,51222,35,0,1,1,0,4,313,40
2,15,2,1481,3,86,888,7931,0,0,0,266,5801,10,5,1,5,0,3,49,24
3,1,2,1546,2,72,888,11544,1,0,1,151,32308,35,0,1,9,0,4,138,53
4,13,5,2162,2,72,888,2256,0,0,0,193,40333,28,0,3,0,0,4,20,81

In [26]:
df_train_temp = pd.DataFrame()
for c in notnum_features:
    df_train_temp[c] = df_train[c]
df_train_one = pd.get_dummies(df_train_temp)
df_train_one.head()

,主要建材_None,主要建材_加強磚造,主要建材_土木造,主要建材_土磚石混合造,主要建材_土造,主要建材_壁式預鑄鋼筋混凝土造,主要建材_木造,主要建材_石造,主要建材_磚造,主要建材_竹造,...,nearest_tarin_station_行天宮站,nearest_tarin_station_西湖站,nearest_tarin_station_西門站,nearest_tarin_station_象山站,nearest_tarin_station_辛亥站,nearest_tarin_station_關渡站,nearest_tarin_station_雙連站,nearest_tarin_station_頂溪站,nearest_tarin_station_麟光站,nearest_tarin_station_龍山寺站
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [27]:
from sklearn.preprocessing import OneHotEncoder
df_train_one_sk = OneHotEncoder().fit_transform(df_train_temp.loc[:,['主要建材', '主要用途']]).toarray() # 如果不會出現memory error 可以直接放進整個df_train_temp 
df_train_one_sk = pd.DataFrame(df_train_one_sk) # 如果想要讓標題更好看一點，可以加上columns=df_train_one.columns，沿用df_train_one的標題
df_train_one_sk.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
display(df_train.iloc[:5,0])
display(df_train_one.iloc[:5,:18])
display(df_train_one_sk.iloc[:5,:18])

0    0
1    1
2    2
3    3
4    4
Name: index, dtype: int64

,主要建材_None,主要建材_加強磚造,主要建材_土木造,主要建材_土磚石混合造,主要建材_土造,主要建材_壁式預鑄鋼筋混凝土造,主要建材_木造,主要建材_石造,主要建材_磚造,主要建材_竹造,主要建材_見使用執照,主要建材_見其他登記事項,主要建材_鋼筋混凝土加強磚造,主要建材_鋼筋混凝土造,主要建材_鋼骨混凝土造,主要建材_鋼骨鋼筋混凝土造,主要建材_鐵造,主要建材_預力混凝土造
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

# 時間特徵

#### 時間特徵拆解

In [29]:
import datetime

now = datetime.datetime.now() # current date and time
print(now,type(now))
year = datetime.datetime.strftime(now,"%Y")
print("year:", year)

2020-09-26 14:34:04.737601 <class 'datetime.datetime'>
year: 2020

In [30]:
str_time = datetime.datetime.strptime('2017-08-12 00:00:00', '%Y-%m-%d %H:%M:%S')
print(str_time)
print(type(str_time))

2017-08-12 00:00:00
<class 'datetime.datetime'>

In [31]:
# 做完特徵工程前的所有準備
import pandas as pd
import numpy as np
import datetime

df_train_time = pd.DataFrame()
df_train_time['transaction_datetime'] = df_train['交易年月日'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
df_train_time['transaction_year'] = df_train_time['transaction_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%Y')).astype('int64')
df_train_time['transaction_month'] = df_train_time['transaction_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%m')).astype('int64')
df_train_time['transaction_day'] = df_train_time['transaction_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%d')).astype('int64')
df_train_time['transaction_hour'] = df_train_time['transaction_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%H')).astype('int64')
df_train_time['transaction_minute'] = df_train_time['transaction_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%M')).astype('int64')
df_train_time['transaction_second'] = df_train_time['transaction_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%S')).astype('int64')
df_train_time.head()

,transaction_datetime,transaction_year,transaction_month,transaction_day,transaction_hour,transaction_minute,transaction_second
0,2016-12-06,2016,12,6,0,0,0
1,2015-12-31,2015,12,31,0,0,0
2,2015-09-11,2015,9,11,0,0,0
3,2015-11-15,2015,11,15,0,0,0
4,2017-07-31,2017,7,31,0,0,0

#### 時間單位整合

In [41]:
import math
df_train_time['year_cycle_half'] = df_train_time['transaction_month']/6 + df_train_time['transaction_day']/180
df_train_time.head()

,transaction_datetime,transaction_year,transaction_month,transaction_day,transaction_hour,transaction_minute,transaction_second,year_cycle,year_cycle_half
0,2016-12-06,2016,12,6,0,0,0,-0.998630,2.033333
1,2015-12-31,2015,12,31,0,0,0,-0.963630,2.172222
2,2015-09-11,2015,9,11,0,0,0,-0.771625,1.561111
3,2015-11-15,2015,11,15,0,0,0,-0.991445,1.916667
4,2017-07-31,2017,7,31,0,0,0,-0.507538,1.338889

#### 週期特徵

In [42]:
df_train_time['year_cycle_half']=df_train_time['year_cycle_half'].apply(lambda x:math.cos(x*math.pi))
df_train_time.head()

,transaction_datetime,transaction_year,transaction_month,transaction_day,transaction_hour,transaction_minute,transaction_second,year_cycle,year_cycle_half
0,2016-12-06,2016,12,6,0,0,0,-0.998630,0.994522
1,2015-12-31,2015,12,31,0,0,0,-0.963630,0.857167
2,2015-09-11,2015,9,11,0,0,0,-0.771625,0.190809
3,2015-11-15,2015,11,15,0,0,0,-0.991445,0.965926
4,2017-07-31,2017,7,31,0,0,0,-0.507538,-0.484810

# 遺失值處理

#### Detect in Series

In [34]:
data = pd.Series([1, np.nan, 3, None]); data
print(data)
print('-'*50)
print(data.isnull())
print('-'*10)
print(data.isnull().any())
print('-'*50)

0    1.0
1    NaN
2    3.0
3    NaN
dtype: float64
--------------------------------------------------
0    False
1     True
2    False
3     True
dtype: bool
----------
True
--------------------------------------------------

#### detect in DataFrame
<details>
    <summary>axis image 1</summary>
    <img src="./img/2D_axis_1.jpg">
</details>
<details>
    <summary>axis image 2</summary>
    <img src="./img/2D_axis.jpg">
</details>

In [35]:
df=pd.DataFrame(np.random.randn(1000,100))
df[df>0.9]=pd.np.nan
display(df)

print(df.isnull().any()) # .any()預設為axis='index'(axis=0)，可以查詢哪些欄位有空值
print('-'*50)
print(df.isnull().any(axis=1))
print('-'*50)
print(df.isnull().any().any())

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.018496,-0.122448,-0.160376,-1.898236,0.771020,0.624671,NaN,0.356020,NaN,0.057279,...,0.546236,-1.380004,-0.506286,-1.327351,-0.417898,NaN,0.494230,-0.664785,0.806224,0.467267
1,-2.604650,-0.141163,-0.424509,-1.364437,-0.647344,0.751191,0.762069,NaN,NaN,0.758661,...,0.656232,-1.579477,NaN,0.173530,0.558003,-1.629633,0.303484,-0.416706,-1.416714,0.782025
2,0.165029,NaN,-0.373196,-1.161747,0.626467,0.064791,NaN,-0.709192,0.668024,-0.021699,...,0.587936,NaN,-0.437411,0.207055,0.438916,NaN,0.757672,0.685349,-1.242935,-0.693025
3,0.557541,-1.398910,0.265474,-1.851684,0.154442,NaN,-0.583380,-1.269246,-0.949449,-0.607623,...,NaN,-0.236392,NaN,-0.685965,0.655588,0.295448,-1.463512,-2.053987,-0.927579,0.409275
4,0.423022,0.300542,-0.557326,-0.316742,0.229282,-0.659488,-1.771562,-0.180210,NaN,NaN,...,-0.688558,NaN,NaN,-0.535999,0.637011,-0.190656,NaN,NaN,0.434884,-1.228137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,NaN,-0.056542,NaN,-0.909902,-0.057146,0.836719,-0.431404,-0.011195,-0.261559,NaN,...,-0.334560,-0.450810,0.176017,-1.142749,NaN,0.743974,0.005785,-0.336826,0.597422,0.626043
996,0.836669,NaN,-0.163751,-0.349644,0.216127,0.059087,NaN,-0.392402,NaN,-0.061516,...,-0.538695,0.335980,0.180644,-0.649370,-0.474153,-0.226270,0.673576,0.668957,0.755886,NaN
997,0.887519,0.081481,0.459294,NaN,-0.775355,0.003590,-0.649332,-0.249719,0.079588,-0.862117,...,NaN,-0.806668,-0.407356,-0.361254,NaN,-0.259790,-0.822944,NaN,-0.411959,-2.827540
998,-0.195722,-2.139336,-0.270729,-1.648342,-0.654935,NaN,NaN,0.104458,-1.697721,-1.454289,...,-1.177974,0.717574,0.222814,NaN,-1.294088,0.513668,-1.107868,0.268459,NaN,-0.510581
999,-1.128982,0.400536,0.339386,NaN,-1.643045,-0.750029,-0.268598,NaN,-0.201702,-1.005615,...,NaN,-0.637222,NaN,-0.123388,0.093284,0.069140,-1.172141,-0.570988,0.336312,-0.909070

0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Length: 100, dtype: bool
--------------------------------------------------
0      True
1      True
2      True
3      True
4      True
       ...
995    True
996    True
997    True
998    True
999    True
Length: 1000, dtype: bool
--------------------------------------------------
True

#### 去除遺失值

In [36]:
data_path = './data/house_train.csv'
df_train = pd.read_csv(data_path)
display(df_train['主要建材'])
print('-'*50)
print(len(df_train['主要建材']),df_train['主要建材'].isnull().any().any())

0             NaN
1          鋼筋混凝土造
2        鋼骨鋼筋混凝土造
3            加強磚造
4          鋼筋混凝土造
           ...
69165      鋼筋混凝土造
69166         NaN
69167      鋼筋混凝土造
69168      鋼筋混凝土造
69169     見其他登記事項
Name: 主要建材, Length: 69170, dtype: object

--------------------------------------------------
69170 True

In [37]:
Seires_drop_1 = df_train['主要建材'][df_train['主要建材'].notnull()]
print(Seires_drop_1)
print('_'*10)
print(len(Seires_drop_1),Seires_drop_1.isnull().any().any())
print('_'*50)

Seires_drop_2 = df_train['主要建材'].dropna()
print(Seires_drop_2)
print('_'*10)
print(len(Seires_drop_2),Seires_drop_2.isnull().any().any())
print('_'*50)

1          鋼筋混凝土造
2        鋼骨鋼筋混凝土造
3            加強磚造
4          鋼筋混凝土造
5          鋼筋混凝土造
           ...
69164      鋼筋混凝土造
69165      鋼筋混凝土造
69167      鋼筋混凝土造
69168      鋼筋混凝土造
69169     見其他登記事項
Name: 主要建材, Length: 62111, dtype: object
__________
62111 False
__________________________________________________
1          鋼筋混凝土造
2        鋼骨鋼筋混凝土造
3            加強磚造
4          鋼筋混凝土造
5          鋼筋混凝土造
           ...
69164      鋼筋混凝土造
69165      鋼筋混凝土造
69167      鋼筋混凝土造
69168      鋼筋混凝土造
69169     見其他登記事項
Name: 主要建材, Length: 62111, dtype: object
__________
62111 False
__________________________________________________

#### dropna()的參數 how

In [38]:
df = pd.DataFrame([[1,      np.nan, 2, np.nan],
                   [2,      3,      5, np.nan],
                   [np.nan, 4,      6, np.nan]],columns=['a','b','c','d'])

df_drop_all = df.dropna(how='all',axis=1)
df_drop_any = df.dropna(how='any',axis=1)
display(df)
display(df_drop_all)
display(df_drop_any)

     a    b  c   d
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

     a    b  c
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

   c
0  2
1  5
2  6

#### 填補遺失值

In [39]:
Series_fill = df_train['主要建材'].fillna('沒紀錄')
display(Series_fill)

0             沒紀錄
1          鋼筋混凝土造
2        鋼骨鋼筋混凝土造
3            加強磚造
4          鋼筋混凝土造
           ...
69165      鋼筋混凝土造
69166         沒紀錄
69167      鋼筋混凝土造
69168      鋼筋混凝土造
69169     見其他登記事項
Name: 主要建材, Length: 69170, dtype: object

#### fillna()的參數 method

In [40]:
df = pd.DataFrame([[1,      np.nan, 2, np.nan],
                   [2,      3,      5, np.nan],
                   [np.nan, 4,      6, np.nan]],columns=['a','b','c','d'])
display(df)
display(df.fillna(method='ffill')) #預設axis=0
display(df.fillna(method='ffill', axis=1))
display(df.fillna(method='bfill'))

     a    b  c   d
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

     a    b  c   d
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  2.0  4.0  6 NaN

     a    b    c    d
0  1.0  1.0  2.0  2.0
1  2.0  3.0  5.0  5.0
2  NaN  4.0  6.0  6.0

     a    b  c   d
0  1.0  3.0  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN